In [9]:
import pickle
import pandas as pd
import numpy as np

In [2]:
f = open('experiment5_bclr.pkl', 'rb')
bclr_dict = pickle.load(f)

In [20]:
df = pd.read_table("experiment5_multi_data.txt", header=None, sep=',')
df.mean(axis=0)[[0,1,3,4]]

0    0.844300
1    0.746861
3    0.714678
4    0.857407
dtype: float64

In [19]:
df.std(axis=0)[[0,1,3,4]]

0    0.103382
1    0.073055
3    0.010280
4    0.107950
dtype: float64

In [21]:
# adjusted Rand indices
df.mean(axis=0)[[5,6,8,9]]

5    0.682716
6    0.517600
8    0.463234
9    0.693822
dtype: float64

In [18]:
df.apply(lambda x: np.sum(x>0.9), axis=0)[[0,1,3,4]]

0    443
1    110
3      2
4    443
dtype: int64

# bclr_dict

In [70]:
def close(x, y, bd=5):
    return np.abs(x-y) <= bd
    
vs100 = np.array([np.sum(close(np.array([int(a) for a in bclr_dict['cps'][i]]), 100)) for i in range(1000)])
vs175 = np.array([np.sum(close(np.array([int(a) for a in bclr_dict['cps'][i]]), 175)) for i in range(1000)])
vs205 = np.array([np.sum(close(np.array([int(a) for a in bclr_dict['cps'][i]]), 205)) for i in range(1000)])

In [79]:
vs100 == 1

array([ True, False,  True,  True, False,  True, False, False, False,
       False,  True, False,  True,  True,  True, False,  True,  True,
       False, False,  True, False,  True,  True, False, False,  True,
       False,  True,  True,  True, False,  True, False,  True, False,
        True,  True,  True,  True, False,  True,  True, False, False,
        True, False, False,  True,  True, False, False, False, False,
        True, False, False,  True, False,  True,  True, False, False,
        True, False,  True,  True, False,  True,  True, False,  True,
       False,  True,  True, False, False,  True,  True, False, False,
       False,  True,  True,  True,  True,  True,  True, False,  True,
        True, False, False,  True, False,  True,  True,  True, False,
        True, False, False,  True, False,  True, False, False,  True,
        True, False, False, False,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True, False, False,  True,  True,
        True, False,  True, False,  True,  True,  True, False,  True,
       False,  True, False, False, False, False,  True, False,  True,
       False,  True,  True, False, False,  True, False,  True, False,
        True, False, False,  True,  True, False,  True, False, False,
        True,  True,  True, False,  True, False,  True,  True, False,
       False,  True, False, False,  True, False, False, False, False,
       False,  True, False,  True, False,  True, False,  True, False,
       False,  True, False,  True,  True, False,  True,  True,  True,
        True, False,  True, False,  True,  True, False, False,  True,
        True,  True, False, False,  True, False,  True, False,  True,
       False, False, False, False, False,  True,  True, False,  True,
       False, False, False,  True, False, False, False, False,  True,
        True, False,  True, False, False, False, False, False,  True,
       False,  True, False,  True,  True,  True,  True,  True, False,
       False,  True,  True, False, False,  True,  True,  True,  True,
       False,  True,  True, False, False, False,  True,  True,  True,
        True,  True, False, False, False, False,  True, False, False,
        True,  True,  True, False, False,  True,  True, False, False,
        True,  True, False, False, False,  True, False, False,  True,
       False, False,  True,  True, False,  True,  True,  True, False,
       False,  True,  True,  True, False, False, False,  True, False,
        True,  True, False, False, False, False, False, False,  True,
       False, False,  True, False, False, False,  True,  True,  True,
       False,  True, False, False,  True, False,  True, False,  True,
       False, False,  True, False,  True, False, False, False,  True,
       False,  True,  True, False,  True,  True, False, False,  True,
       False,  True,  True, False,  True, False, False, False, False,
       False,  True,  True, False,  True,  True,  True, False,  True,
       False,  True, False,  True,  True, False, False,  True,  True,
       False,  True, False, False,  True, False, False,  True, False,
       False,  True, False,  True, False, False, False, False, False,
       False,  True, False,  True,  True, False,  True,  True, False,
        True, False, False,  True, False, False,  True, False,  True,
        True,  True,  True, False, False,  True,  True,  True,  True,
        True, False, False, False, False,  True,  True, False, False,
       False,  True, False,  True, False, False, False,  True, False,
       False,  True,  True, False, False,  True,  True,  True, False,
        True, False, False,  True,  True,  True, False,  True, False,
        True, False,  True,  True, False,  True, False,  True, False,
       False, False,  True, False, False,  True,  True,  True,  True,
       False, False,  True, False, False,  True,  True, False,  True,
        True, False,  True, False, False,  True,  True, False, False,
       False,  True,  True,  True, False,  True,  True,  True,  True,
        True, False,  True, False,  True,  True, False, False,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
       False, False, False, False, False,  True, False,  True, False,
        True,  True, False, False,  True, False,  True,  True,  True,
        True, False, False,  True, False, False, False, False, False,
       False,  True,  True, False, False, False,  True, False, False,
        True,  True, False, False, False,  True, False, False, False,
       False,  True, False, False, False,  True, False,  True, False,
        True,  True,  True,  True, False, False,  True, False,  True,
        True, False,  True,  True, False,  True,  True,  True,  True,
       False, False,  True, False,  True, False, False, False, False,
        True,  True,  True,  True,  True,  True, False, False, False,
       False,  True, False, False,  True, False, False,  True,  True,
       False, False, False, False, False,  True,  True, False, False,
       False,  True, False, False,  True,  True, False,  True,  True,
        True, False, False,  True,  True, False, False,  True,  True,
       False,  True,  True, False,  True, False, False, False,  True,
        True,  True,  True,  True,  True, False, False,  True, False,
        True, False, False, False, False,  True,  True, False,  True,
       False, False,  True,  True, False,  True, False, False, False,
        True,  True, False, False, False, False, False,  True,  True,
        True,  True,  True, False,  True,  True,  True, False, False,
        True,  True,  True, False, False, False,  True,  True,  True,
       False,  True,  True,  True, False, False, False,  True,  True,
        True, False, False, False, False,  True, False, False,  True,
        True, False,  True, False,  True, False,  True, False, False,
        True,  True,  True, False,  True, False, False, False,  True,
        True,  True, False, False, False, False, False,  True,  True,
       False, False, False, False, False, False, False, False,  True,
        True, False, False, False,  True,  True, False, False, False,
       False,  True,  True, False, False, False, False, False, False,
        True, False, False,  True,  True, False, False, False,  True,
       False, False, False, False,  True, False,  True, False, False,
        True,  True, False, False, False,  True,  True,  True, False,
        True,  True,  True, False, False, False, False,  True, False,
       False,  True, False,  True, False,  True,  True, False, False,
       False, False,  True,  True,  True, False,  True, False, False,
       False,  True, False, False,  True, False, False, False,  True,
       False, False,  True,  True,  True,  True, False, False, False,
        True,  True,  True,  True, False, False,  True,  True,  True,
       False,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False,  True,  True,  True,  True,
       False, False, False,  True, False, False, False, False,  True,
        True, False, False,  True,  True, False, False, False, False,
       False,  True, False, False, False,  True, False,  True, False,
       False, False, False, False,  True, False, False,  True, False,
       False, False,  True, False, False,  True, False, False, False,
       False, False, False,  True,  True, False,  True, False,  True,
        True, False, False,  True,  True, False,  True, False, False,
       False, False,  True,  True, False, False, False,  True,  True,
        True,  True, False, False, False, False, False,  True, False,
       False,  True,  True,  True,  True, False,  True, False, False,
       False,  True,  True, False, False, False,  True,  True, False,
       False, False, False, False, False, False,  True, False, False,
       False])

In [76]:
print(np.mean(vs100 == 1))
print(np.mean(vs175 == 1))
print(np.mean(vs205 == 1))

0.473
0.972
0.336

In [109]:
vs100w = np.array([np.where(close(np.array([int(a) for a in bclr_dict['cps'][i]]), 100))[0] for i in np.where(vs100==1)[0]])[:,0]
vs175w = np.array([np.where(close(np.array([int(a) for a in bclr_dict['cps'][i]]), 175))[0] for i in np.where(vs175==1)[0]])[:,0]
vs205w = np.array([np.where(close(np.array([int(a) for a in bclr_dict['cps'][i]]), 205))[0] for i in np.where(vs205==1)[0]])[:,0]

CP 100

In [125]:
pos_100 = {'first': [], 'second': []}

for i,j in enumerate(np.where(vs100==1)[0]):
    ok = bclr_dict['scnds'][j][2*vs100w[i]:(2*vs100w[i]+2)]
    pos_100['first'] += [ok[0] == '4']
    pos_100['second'] += [ok[1] == '4']

In [126]:
pd.DataFrame(pos_100).mean(axis=0)

first     0.970402
second    0.021142
dtype: float64

In [121]:
pos_175 = {'first': [], 'second': []}

for i,j in enumerate(np.where(vs175==1)[0]):
    ok = bclr_dict['scnds'][j][2*vs175w[i]:(2*vs175w[i]+2)]
    pos_175['first'] += [ok[0] == '2']
    pos_175['second'] += [ok[1] == '2']

In [122]:
pd.DataFrame(pos_175).mean(axis=0)

first     0.432099
second    0.538066
dtype: float64

In [129]:
pos_205 = {'first': [], 'second': []}

for i,j in enumerate(np.where(vs205==1)[0]):
    ok = bclr_dict['scnds'][j][2*vs205w[i]:(2*vs205w[i]+2)]
    pos_205['first'] += [ok[0] == '6']
    pos_205['second'] += [ok[1] == '6']

In [150]:
ok100 = []
for i,j in enumerate(np.where(vs100==1)[0]):
    ok100 += [bclr_dict['scnds'][j][2*vs100w[i]:(2*vs100w[i]+2)]]

ok100 = pd.DataFrame(ok100, columns=['first', 'second'])

In [151]:
pd.crosstab(ok100['first'], ok100['second'], margins=True)

second   1   2   3   4    5   6   7   8   9  All
first
2        0   0   0   1    0   0   0   0   0    1
3        0   0   0   1    0   0   0   0   0    1
4       62  29  34   0  115  98  41  42  38  459
5        0   0   0   1    0   0   0   0   0    1
6        0   1   0   2    1   0   0   0   0    4
7        0   0   0   3    0   0   0   0   0    3
8        0   0   0   1    0   1   0   0   0    2
9        0   0   0   1    0   0   0   1   0    2
All     62  30  34  10  116  99  41  43  38  473

In [144]:
ok175 = []
for i,j in enumerate(np.where(vs175==1)[0]):
    ok175 += [bclr_dict['scnds'][j][2*vs175w[i]:(2*vs175w[i]+2)]]

ok175 = pd.DataFrame(ok175, columns=['first', 'second'])

In [147]:
pd.crosstab(ok175['first'], ok175['second'], margins=True)

second   1    2   3   4   5   6    7  8   9  All
first
2       20    0  22  14   4  11  285  4  60  420
4        0    0   0   0   1   0    0  1   0    2
7        0  523   0   0  25   1    0  1   0  550
All     20  523  22  14  30  12  285  6  60  972

In [141]:
ok205 = []
for i,j in enumerate(np.where(vs205==1)[0]):
    ok205 += [bclr_dict['scnds'][j][2*vs205w[i]:(2*vs205w[i]+2)]]

ok205 = pd.DataFrame(ok205, columns=['first', 'second'])

In [148]:
pd.crosstab(ok205['first'], ok205['second'], margins=True)

second   1   2   3   4   5    6   7   8   9  All
first
1        0   0   0   0   0    0   0   0   2    2
2        1   0   0   0   0    1   1   0   3    6
3        0   0   0   0   0    0   0   1   1    2
4        0   0   0   0   1    1   0   0   3    5
6        0   0   0   0   0    0   0   0  16   16
7        0   0   0   0   0    1   0   0   0    1
8        0   0   0   0   0    0   0   0   1    1
9       21  17  24  24  27  150  13  27   0  303
All     22  17  24  24  28  153  14  28  26  336

# Most confident change...

In [179]:
bclr_dict['cps'][98]

['250']

In [207]:
def conv_fl(x):
    try:
        return float(x)
    except:
        return np.nan

pprobs = []
for i in range(1000):
    pprobs += [int(bclr_dict['cps'][i][np.argmax([conv_fl(a) for a in bclr_dict['pprob'][i]])])]
    #bclr_dict['cps'][np.argmax()]

In [222]:
how_close = [np.sum(close(np.array(pprobs), x)) for x in [100, 175, 205, 250]]
print(how_close)
sum(how_close)

[np.int64(26), np.int64(879), np.int64(31), np.int64(10)]

np.int64(946)