In [107]:
import pickle
import pandas as pd
import numpy as np

In [108]:
f = open('experiment5_bclr.pkl', 'rb')
bclr_dict = pickle.load(f)

In [109]:
inds = np.array([6,0,1,4])

In [111]:
df = pd.read_table("experiment5_multi_data.txt", header=None, sep=',')
df.mean(axis=0)[inds]

6    0.865742
0    0.861706
1    0.747414
4    0.718647
dtype: float64

In [112]:
df.std(axis=0)[inds]

6    0.102909
0    0.102484
1    0.073403
4    0.027312
dtype: float64

In [113]:
# adjusted Rand indices
df.mean(axis=0)[inds+7]

13    0.709739
7     0.714785
8     0.518321
11    0.470741
dtype: float64

In [114]:
df.std(axis=0)[inds+7]

13    0.186171
7     0.190315
8     0.128059
11    0.047693
dtype: float64

In [115]:
df.mean(axis=0)[14:]

14    2.309
15    1.312
16    1.008
17    1.002
18    1.019
19    1.001
20    2.753
dtype: float64

In [133]:
df.apply(lambda x: np.sum(x==1), axis=0)[[0,1,4,6]]

0    7
1    0
4    0
6    8
dtype: int64

# bclr_dict

In [117]:
def close(x, y, bd=4):
    return np.abs(x-y) <= bd
    
vs100 = np.array([np.sum(close(np.array([int(a) for a in bclr_dict['cps'][i]]), 100)) for i in range(1000)])
vs175 = np.array([np.sum(close(np.array([int(a) for a in bclr_dict['cps'][i]]), 175)) for i in range(1000)])
vs205 = np.array([np.sum(close(np.array([int(a) for a in bclr_dict['cps'][i]]), 205)) for i in range(1000)])

In [118]:
print(np.mean(vs100 == 1))
print(np.mean(vs175 == 1))
print(np.mean(vs205 == 1))

0.479
0.958
0.357

In [119]:
vs100w = np.array([np.where(close(np.array([int(a) for a in bclr_dict['cps'][i]]), 100))[0] for i in np.where(vs100==1)[0]])[:,0]
vs175w = np.array([np.where(close(np.array([int(a) for a in bclr_dict['cps'][i]]), 175))[0] for i in np.where(vs175==1)[0]])[:,0]
vs205w = np.array([np.where(close(np.array([int(a) for a in bclr_dict['cps'][i]]), 205))[0] for i in np.where(vs205==1)[0]])[:,0]

CP 100

In [120]:
pos_100 = {'first': [], 'second': []}

for i,j in enumerate(np.where(vs100==1)[0]):
    ok = bclr_dict['scnds'][j][2*vs100w[i]:(2*vs100w[i]+2)]
    pos_100['first'] += [ok[0] == '4']
    pos_100['second'] += [ok[1] == '4']

In [121]:
pd.DataFrame(pos_100).sum(axis=0)

first     472
second      5
dtype: int64

In [122]:
pos_175 = {'first': [], 'second': []}

for i,j in enumerate(np.where(vs175==1)[0]):
    ok = bclr_dict['scnds'][j][2*vs175w[i]:(2*vs175w[i]+2)]
    pos_175['first'] += [ok[0] == '2']
    pos_175['second'] += [ok[1] == '2']

In [123]:
pd.DataFrame(pos_175).sum(axis=0)

first     431
second    494
dtype: int64

In [124]:
pos_205 = {'first': [], 'second': []}

for i,j in enumerate(np.where(vs205==1)[0]):
    ok = bclr_dict['scnds'][j][2*vs205w[i]:(2*vs205w[i]+2)]
    pos_205['first'] += [ok[0] == '6']
    pos_205['second'] += [ok[1] == '6']

In [134]:
pd.DataFrame(pos_205).sum(axis=0)

first     350
second      4
dtype: int64

In [125]:
ok100 = []
for i,j in enumerate(np.where(vs100==1)[0]):
    ok100 += [bclr_dict['scnds'][j][2*vs100w[i]:(2*vs100w[i]+2)]]

ok100 = pd.DataFrame(ok100, columns=['first', 'second'])

In [126]:
507/512

0.990234375

In [127]:
pd.crosstab(ok100['first'], ok100['second'], margins=True)

second   1   2   3  4    5   6   7   8   9  All
first
1        0   0   0  1    0   1   0   0   0    2
2        0   0   0  1    0   0   0   0   0    1
4       62  40  47  0  106  82  48  48  39  472
6        0   1   0  1    0   0   0   0   0    2
7        0   0   0  1    0   0   0   0   0    1
9        0   0   0  1    0   0   0   0   0    1
All     62  41  47  5  106  83  48  48  39  479

In [128]:
ok175 = []
for i,j in enumerate(np.where(vs175==1)[0]):
    ok175 += [bclr_dict['scnds'][j][2*vs175w[i]:(2*vs175w[i]+2)]]

ok175 = pd.DataFrame(ok175, columns=['first', 'second'])

In [129]:
pd.crosstab(ok175['first'], ok175['second'], margins=True)

second   1    2   3  4   5   6    7  8   9  All
first
2       20    0  15  8   6  76  291  3  12  431
7        0  493   0  1  28   0    0  3   0  525
9        0    1   1  0   0   0    0  0   0    2
All     20  494  16  9  34  76  291  6  12  958

In [130]:
ok205 = []
for i,j in enumerate(np.where(vs205==1)[0]):
    ok205 += [bclr_dict['scnds'][j][2*vs205w[i]:(2*vs205w[i]+2)]]

ok205 = pd.DataFrame(ok205, columns=['first', 'second'])

In [131]:
pd.crosstab(ok205['first'], ok205['second'], margins=True)

second  1   2  3    4  5  6  7  8    9  All
first
2       0   0  0    0  0  1  1  0    0    2
4       1   0  0    0  0  2  0  0    1    4
6       6  14  5  163  5  0  4  6  147  350
9       0   0  0    0  0  1  0  0    0    1
All     7  14  5  163  5  4  5  6  148  357

# Most confident change...

In [135]:
def conv_fl(x):
    try:
        return float(x)
    except:
        return np.nan

pprobs = []
for i in range(1000):
    pprobs += [int(bclr_dict['cps'][i][np.argmax([conv_fl(a) for a in bclr_dict['pprob'][i]])])]
    #bclr_dict['cps'][np.argmax()]

In [137]:
pprobs

[175,
 174,
 175,
 175,
 175,
 100,
 206,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 205,
 250,
 134,
 175,
 175,
 175,
 175,
 175,
 193,
 176,
 100,
 176,
 175,
 175,
 204,
 175,
 175,
 175,
 175,
 175,
 104,
 175,
 175,
 175,
 175,
 201,
 250,
 175,
 175,
 175,
 175,
 175,
 175,
 176,
 176,
 174,
 175,
 197,
 173,
 175,
 175,
 175,
 175,
 175,
 34,
 175,
 175,
 175,
 175,
 174,
 175,
 175,
 205,
 175,
 175,
 177,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 202,
 175,
 100,
 175,
 175,
 175,
 175,
 175,
 172,
 175,
 175,
 106,
 175,
 175,
 175,
 175,
 175,
 175,
 176,
 175,
 173,
 175,
 175,
 175,
 175,
 175,
 173,
 175,
 175,
 175,
 174,
 175,
 175,
 175,
 175,
 176,
 175,
 176,
 203,
 175,
 176,
 175,
 175,
 175,
 175,
 176,
 250,
 100,
 125,
 176,
 104,
 175,
 175,
 176,
 175,
 175,
 175,
 175,
 174,
 175,
 175,
 175,
 175,
 172,
 175,
 175,
 175,
 175,
 175,
 174,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 174,
 175,
 175,
 175,
 175,
 176,
 175,
 175,
 175,
 175,
 175,
 175,
 174,
 175,
 175,
 175,
 175,
 175,
 109,
 175,
 174,
 175,
 173,
 175,
 102,
 173,
 175,
 175,
 170,
 175,
 175,
 175,
 92,
 100,
 177,
 181,
 178,
 175,
 204,
 175,
 175,
 175,
 108,
 175,
 175,
 175,
 175,
 175,
 172,
 176,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 205,
 175,
 175,
 175,
 175,
 175,
 175,
 173,
 174,
 175,
 175,
 176,
 176,
 175,
 175,
 175,
 175,
 175,
 175,
 176,
 175,
 176,
 175,
 175,
 175,
 176,
 176,
 175,
 175,
 175,
 171,
 175,
 122,
 176,
 176,
 106,
 175,
 175,
 175,
 175,
 175,
 97,
 176,
 175,
 175,
 174,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 173,
 204,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 167,
 175,
 175,
 175,
 176,
 175,
 179,
 175,
 95,
 205,
 176,
 175,
 175,
 30,
 175,
 175,
 175,
 175,
 174,
 175,
 201,
 175,
 175,
 176,
 73,
 175,
 175,
 175,
 175,
 175,
 175,
 212,
 176,
 175,
 176,
 175,
 175,
 174,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 202,
 175,
 200,
 250,
 170,
 175,
 175,
 175,
 230,
 200,
 159,
 175,
 175,
 175,
 201,
 175,
 175,
 201,
 175,
 175,
 175,
 194,
 28,
 175,
 175,
 175,
 250,
 174,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 171,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 205,
 175,
 175,
 175,
 176,
 175,
 124,
 175,
 175,
 176,
 177,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 121,
 175,
 176,
 175,
 175,
 175,
 176,
 176,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 205,
 179,
 175,
 175,
 175,
 175,
 173,
 176,
 175,
 175,
 178,
 175,
 175,
 177,
 175,
 175,
 177,
 175,
 175,
 175,
 176,
 175,
 174,
 175,
 175,
 175,
 174,
 175,
 175,
 92,
 175,
 170,
 175,
 175,
 175,
 101,
 175,
 175,
 175,
 176,
 175,
 175,
 110,
 175,
 175,
 100,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 174,
 175,
 175,
 174,
 175,
 175,
 175,
 175,
 175,
 151,
 175,
 175,
 175,
 175,
 175,
 173,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 176,
 175,
 176,
 175,
 175,
 175,
 124,
 99,
 175,
 175,
 175,
 175,
 176,
 175,
 175,
 98,
 175,
 175,
 175,
 175,
 152,
 175,
 169,
 175,
 175,
 175,
 175,
 185,
 174,
 175,
 175,
 205,
 176,
 175,
 204,
 230,
 197,
 175,
 175,
 169,
 175,
 175,
 174,
 188,
 174,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 204,
 175,
 31,
 175,
 175,
 175,
 176,
 175,
 175,
 175,
 250,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 178,
 175,
 175,
 36,
 175,
 175,
 175,
 175,
 175,
 175,
 184,
 175,
 175,
 117,
 175,
 171,
 175,
 175,
 176,
 175,
 175,
 144,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 18,
 100,
 174,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 174,
 175,
 202,
 175,
 175,
 179,
 205,
 174,
 141,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 173,
 175,
 175,
 171,
 175,
 174,
 175,
 175,
 177,
 175,
 175,
 175,
 176,
 175,
 175,
 175,
 172,
 175,
 205,
 175,
 175,
 103,
 175,
 175,
 175,
 205,
 175,
 175,
 175,
 175,
 205,
 175,
 175,
 176,
 175,
 176,
 175,
 185,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 130,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 176,
 175,
 176,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 174,
 174,
 175,
 175,
 175,
 176,
 175,
 175,
 175,
 176,
 175,
 176,
 175,
 175,
 175,
 171,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 200,
 175,
 175,
 176,
 175,
 175,
 133,
 196,
 174,
 175,
 175,
 175,
 105,
 175,
 175,
 175,
 175,
 174,
 175,
 175,
 177,
 175,
 175,
 175,
 203,
 174,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 105,
 100,
 176,
 175,
 175,
 175,
 175,
 175,
 177,
 175,
 176,
 175,
 205,
 176,
 175,
 202,
 173,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 101,
 174,
 134,
 175,
 175,
 176,
 175,
 175,
 175,
 175,
 175,
 175,
 176,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 174,
 175,
 174,
 175,
 174,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 171,
 175,
 60,
 175,
 175,
 175,
 175,
 104,
 175,
 175,
 175,
 175,
 100,
 175,
 175,
 175,
 29,
 174,
 175,
 178,
 175,
 177,
 175,
 176,
 175,
 175,
 174,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 176,
 175,
 116,
 175,
 175,
 175,
 175,
 103,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 187,
 175,
 175,
 175,
 176,
 175,
 103,
 172,
 175,
 176,
 175,
 175,
 176,
 205,
 233,
 111,
 175,
 175,
 172,
 175,
 175,
 175,
 187,
 175,
 175,
 124,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 175,
 174,
 205,
 169,
 176,
 175,
 175,
 175,
 104,
 175,
 101,
 175,
 175,
 157,
 175,
 175,
 175,
 102,
 112,
 200,
 175,
 175,
 175,
 177,
 175,
 175,
 175,
 175,
 174,
 175,
 176,
 162,
 174,
 175,
 100,
 174,
 175]

73

In [136]:
how_close = [np.sum(close(np.array(pprobs), x)) for x in [100, 175, 205, 250]]
print(how_close)
sum(how_close)

[np.int64(25), np.int64(872), np.int64(30), np.int64(6)]

np.int64(933)